# Docker-related files
node_modules/
db/
.env

# Ignore WordPress core files
wordpress/*
wordpress/wp-content/plugins
wordpress/wp-content/uploads

# Exclude specific plugins and themes from being ignored
!wordpress/wp-content/
!wordpress/wp-content/plugins/mu-plugins